version: '3.8'

services:
  # 1. Database Emulator (Azurite)
  # Menangani Blob (Timer), Queue (Messaging), dan Table (Database)
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: azurite_storage
    ports:
      - "10000:10000" # Blob
      - "10001:10001" # Queue
      - "10002:10002" # Table
    environment:
      - AZURITE_ACCOUNTS=devstoreaccount1:Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==

  # 2. API Gateway (Satu-satunya Pintu Masuk)
  # Port 7071 di Mac Anda -> Port 80 di Container ini
  api_gateway:
    build: ./api_gateway
    container_name: api_gateway
    ports:
      - "7071:80" 
    env_file:
      - ./.env
    environment:
      # Routing internal ke service lain (menggunakan nama service docker)
      # Perhatikan port 80, karena image Azure Function default jalan di port 80
      USER_SERVICE_URL: "http://user_service:80/api"
      TRANSACTION_SERVICE_URL: "http://transaction_service:80/api"
      REPORT_SERVICE_URL: "http://report_service:80/api"
      AI_SERVICE_ENDPOINT: "http://ai_service:80/api/ai/language" # Opsional jika gateway butuh akses langsung
    depends_on:
      - user_service
      - transaction_service
      - report_service

  # 3. User Service (Backend - Internal Only)
  user_service:
    build: ./user_service
    container_name: user_service
    env_file:
      - ./.env
    # Tidak perlu 'ports', tersembunyi di dalam network Docker

  # 4. Transaction Service (Input Data & Queue Publisher)
  transaction_service:
    build: ./transaction_service
    container_name: transaction_service
    env_file:
      - ./.env
    environment:
      # Koneksi ke Azurite (menggunakan nama host 'azurite')
      AZURITE_CONN_STR: ${AZURITE_CONN_STR_DOCKER}
    depends_on:
      - azurite

  # 5. Category Service (Queue Consumer & AI Caller)
  category_service:
    build: ./category_service
    container_name: category_service
    env_file:
      - ./.env
    environment:
      AZURITE_CONN_STR: ${AZURITE_CONN_STR_DOCKER}
      # Memanggil AI Service secara internal
      AI_SERVICE_ENDPOINT: "http://ai_service:80/api/ai/language"
    depends_on:
      - azurite
      - ai_service

  # 6. Report Service (Timer & Event Subscriber)
  report_service:
    build: ./report_service
    container_name: report_service
    env_file:
      - ./.env
    environment:
      AZURITE_TABLE_CONN_STR: ${AZURITE_CONN_STR_DOCKER}
      # AzureWebJobsStorage dibutuhkan untuk TimerTrigger (State management)
      AzureWebJobsStorage: ${AZURITE_CONN_STR_DOCKER} 
      IS_LOCAL_DEMO: "true"
    depends_on:
      - azurite

  # 7. AI Service (Intelligence Provider)
  ai_service:
    build: ./ai_service
    container_name: ai_service
    env_file:
      - ./.env
    environment:
      GEMINI_API_KEY: ${GEMINI_API_KEY}

# Network default agar semua container bisa saling ping dengan nama service
networks:
  default:
    driver: bridge